
.nav-wrap
	height 9.2em
.indicators
	display none

.nav-client
	padding-left 0.8em
	padding-right 0.8em
	padding-top 0.8em
	.sub-nav
		padding-top 4.5em
		a
			opacity 0.6
			line-height 55px
			&:hover
				opacity 1
				background #303f9f 
				border-bottom 4px solid #8bc34a
	.account
		position absolute
		top 0
		right 0
		margin-right 27px
		cursor pointer
		ul 
			li
				margin-right 1em
	.cart
		position absolute
		bottom 0
		right 0
		margin-right 30px
		margin-bottom -23px
		z-index 5
		width 3.5em
		height 3.5em
		i
			margin-top -5px

				
.logo
	font-weight black
	display block
	margin-left 16px
	font-size 2.5rem !important
	font-weight 300

.description
	width 30%
	float left

.price
	width 40%

.no-padding
	padding 0

.no-margin
	margin 0

.sale
	background #f4f4f4

.marca
	font-size 20px
	color #454444

.name
	font-size 16px
	color #909090

.sale-description
	line-height 1

.price
	font-size 25px
	color #616161
	font-weight 100
	vertical-align middle

.add-cart 
	a
		margin-left: 20px

.info
	font-size: 60px

.section-title
	margin 0 0 1em 0

.identidad
	padding 1em 0 0 0
	
.mod-margin
	padding-top 10px
	
.cat-wrap
	margin-top 20px
	padding 20px

.options
	.form
		height 25em
		label
			color #fff
			margin-right 4px
		span
			display	block
			margin-bottom 5px
		p
			margin: 0 0 3em 0
			
.catalogue
	form
		.search-bar
			width 60%
			margin-left 40px

.image-cart
	width 200px
	height 150px

section.sc
	margin-top 2em
	
.espacio
	margin-left 3em

section.avatar
	background url(../img/profile1.jpg) 
	height 500px
	weight 500px
	padding-top 120px
article.avatar1
	width 230px
	height 230px
	margin 0 auto 0 auto
	border-radius 50%
	background url(../img/alien4.jpg) center 
	background-position: center

.marg
	margin-top .5px
.profile-wrap
	padding 0 !important

.espacio
	margin-left 3em
	
.margin
	margin-left 1em
	margin-top 1em
	
.panel-home
	margin-top 30px

/* login */


	
section.contenedor-login
	width 500px
	height 250px
	margin 60px auto
	padding 3em
	
	
	
section.contenedor-img1
	position relative 
	width 100%
	height 120px
	margin auto
	background-color #7D0F0F
	background url(../img/login-back.jpg)
	
	
section.contenedor-img
	width 120px	
	height 120px
	border-radius 70px
	margin 50px auto
	background-color #000000
	position absolute
	bottom -3
	left 0
	right 0
	background url(../img/admin.jpg)
	background-position: center 
	
.margin-pass
	margin-top 40px
	
/* mantenimiento */

.button-margin
	margin-bottom 2em
	

.table-margin
	margin-left 20px
	margin-top 30px
	
@media (max-width: 996px)
	.nav-wrap
		height 6em
	.search-bar
		width 100%
		margin 1.5em auto
	.tablasc
		table
			overflow hidden
			thead
				tr
					th
						margin-bottom 4em
	

