
<section id="sc" class="sc">
  <h3 class="section-title center" >
    
    Mi carrito </h3> 
</section>
<section id="tablasc" class="tablasc" >
  <table id="tabla" class=" bordered striped centered">
  <thead>
          <tr><th data-field="image"></th>
              <th data-field="producto">Producto</th>
              <th data-field="descripcion">Descripcion</th>
              <th data-field="precio">precio</th>
              <th data-field="cantidad">cantidad</th>
              <th data-field="estado"></th>
              <th data-field="estado"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><img class="materialboxed" src="img/sale1.jpg" width="200px" ></td>
            <td><p class="promo-caption">Nike Free</p></td>
            <td><p class="promo-caption">5.0 Running Shoe</p></td>
            <td><p class="promo-caption">$67.00</p></td>
            <td>
            <div class="input-field">
    <select>
    <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
      </td>
      <td>    <a class="waves-effect waves-light light-green btn espacio"><i class="material-icons right ">delete</i>Eliminar</a></td>
          </tr>
          <tr>
            <td><img class="materialboxed" src="img/sale2.jpg" width="200px" ></td>
            <td><p class="promo-caption">Nike Free</p></td>
            <td><p class="promo-caption">4.0 Running Shoe</p></td>
            <td><p class="promo-caption">$67.00</p></td>
            <td><div class="input-field">
    <select>
    <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div></td>
  <td><a class="waves-effect waves-light light-green btn espacio"><i class="material-icons right ">delete</i>Eliminar</a></td>
          </tr>
          <tr>
            <td><img class="materialboxed" src="img/sale3.jpg" width="200px"></td>
            <td><p class="promo-caption">Nike Free</p></td>
            <td><p class="promo-caption">7.0 Running Shoe</p></td>
            <td><p class="promo-caption">$67.00</p></td>
            <td><div class="input-field">
    <select>
    <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div></td>
  <td><a class="waves-effect waves-light light-green btn espacio"><i class="material-icons right ">delete</i>Eliminar</a></td>
          </tr>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td><strong><p class="promo-caption">$201.00</p></strong></td>
            <td></td>
            <td><a class="waves-effect waves-light  btn espacio"><i class="material-icons right ">check_circle</i>Confirmar compra</a></td>
        </tbody>
      </table>
</section>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>